/target/
!.mvn/wrapper/maven-wrapper.jar
*/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 通配以及子目录 ###
/**/.idea
/**/*.iws
/**/*.iml
/**/*.ipr
/**/.apt_generated
/**/.classpath
/**/.factorypath
/**/.project
/**/.settings
/**/.springBeans
/**/.sts4-cache
/**/target/
/**/nbproject/private/
/**/build/
/**/nbbuild/
/**/dist/
/**/nbdist/
/**/.nb-gradle/
*.log
springboot2.2.0-websocket/src/main/resources/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/resources/mapper/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/resources/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/service/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/repository/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/entity/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/controller/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/config/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/aspect/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/dynamic/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/multiple/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/datasource/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/feng/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/com/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/java/.DS_Store
multiple-datasource/multiple-data-source-dynamic/src/main/.DS_Store
i18n/src/test/java/com/feng/.DS_Store
i18n/src/test/java/com/.DS_Store
i18n/src/test/java/.DS_Store
i18n/src/test/.DS_Store
i18n/src/main/.DS_Store
hadoop-hive/src/main/java/com/feng/hadoop/hive/.DS_Store
hadoop-hive/src/main/java/com/feng/hadoop/.DS_Store
hadoop-hive/src/main/java/com/feng/.DS_Store
hadoop-hive/src/main/java/com/.DS_Store
hadoop-hive/src/main/java/.DS_Store
hadoop-hive/src/main/.DS_Store
crate-demo/src/main/java/com/feng/.DS_Store
crate-demo/src/main/java/com/.DS_Store
crate-demo/src/main/java/.DS_Store
crate-demo/src/main/.DS_Store
*.lock
vertx-demo/vertx-sample2/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample3/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample4/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample4/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample2/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample3/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample4/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample4/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample2/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample4/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample4/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
vertx-demo/vertx-sample3/.gradle/5.4.1/fileHashes/fileHashes.lock
vertx-demo/vertx-sample2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
