<!DOCTYPE html>
<html lang="en"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Vue-Test</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        {{message}}<br/>
        <button v-on:click="reverseMessage">反转消息</button><br/>
        <input v-model="message">
    </div><br/>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒后查看此处动态绑定的消息
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>

    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                message: '你好，Vue!'
            },
            methods: {
                /**
                 * 反转消息
                 */
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })
        let app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于' + new Date().toLocaleString()
            }
        })
        let app3 = new Vue({
            el: '#app-3',
            data: {
                seen : true,
                todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个项目'}
                ]
            },
            methods: {

            }
        })
    </script>
</body>
</html>