<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script type="text/javascript" src="/js/sockjs/1.4.0/sockjs.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
</head>

<body>
<div>
    你好， <strong style="color:blue"><span th:text="${name}"></span></strong><br/>
    <input type="text" readonly="true" id="userCount" name="userCount" value="0"/>个用户<br/>
    <input type="text" size="80" name="url" id="url" value=""/></br>
    <input type="text" size="30" name="message" id="message"/><input type="button" value="send" onclick="send()"/>
    <span th:text="${JSESSIONID}"></span>
</div>
<div id="msgcount"></div>
<script>
    function getCookie(name)
    {
        var arr,reg= new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if(arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    console.log('JSESSIONID', document.cookie);

    var socketUrl = "ws://" + window.location.hostname + ":" + window.location.port + "/webSocketServer";
    console.log('socketUrl', socketUrl);
    var websocket;
    var host = window.location.hostname + ":" + window.location.port;
    var url = "ws://" +host+ "/server";
    $("#url").val(url);
    console.log('url:'+url);
    if ('WebSocket' in window) {
        web = new WebSocket(url);
    } else if ('MozWebSocket' in window) {
        web = new MozWebSocket(url);
    } else {
        web = new SockJS("http://" +host+ "/sockjs/server");
    }
    web.onopen = function(evnt) {
    };
    web.onmessage = function(evnt) {
        //$("#msgcount").prepend("<p>"+evnt.data+"</p>");
        /**
         * 可以通过event.data(即返回结果为json，通过解析JSON)，来达到目的
         */
        var msg = eval("("+evnt.data+")");
        $("#userCount").val(msg["userCount"]);
        var toName = msg["toName"],fromName = msg["fromName"],isJoin = msg["isJoin"],whoStr = "";
        if(isJoin == "1") { //加入房间
            //....
        }
        else {
            if(toName == fromName) {	//接收者就是发送者
                whoStr = "<b style='color:red'>我</b>：";
            }
            else {
                whoStr = "<b style='color:red'>"+fromName+"</b>：";
            }
        }
        $("#msgcount").prepend("<p>"+whoStr+msg["msg"]+"</p>"+msg["date"]);
    };
    web.onerror = function(evnt) {
    };
    web.onclose = function(evnt) {
    }
    function send(){
        web.send(document.getElementById("message").value);
    }

</script>
</body>
</html>
